body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.landing-Nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 1000;
    color: black;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

.logo {
    margin: 0 0.5rem 0 1rem;
    height: 3rem;
    width: 3rem;

}

.logo-container::after {
    content: "Jello";
    font-size: 3rem;
    font-weight: bold;
    color: #172b4d;
    ;
}

.Creds,
.landing-login,
.landing-SignUp {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: color 0.3s;
}

.Creds {
    font-weight: 500;
    font-size: 1.6rem;
}

h2.landing-header {
    margin-left: 1rem;
}


.landing-login {
    color: #172B4D;
    padding: 0rem 1.25rem;
}

.landing-SignUp {
    color: #172b4d;
    background-color: transparent;
    padding: 0.6rem 1.25rem;
    font-weight: bold;
    border-radius: 0.2rem;
}

.Info-Body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 80%;
}

.Body {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: auto;
}

.header {
    font-size: 3.5rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 0.63rem;
}

.text-body {
    font-size: 1.4rem;
    font-weight: 400;
    color: #172b4d;
    margin-bottom: 0.94rem;
    margin-left: 1rem;
}

.landing-background-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 75rem;
    margin-left: auto;
    padding-top: 5rem;
}

.landing-background-img>img {
    border-radius: 10px;
    width: 39.5rem;
    height: 34.88rem;
}

.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
    width: 100%;
    height: 80vh;
}

.SignUp-body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #172b4d;
    background: rgba(255, 255, 255, 0.3);
    height: fit-content;
    width: fit-content;
    padding: 1.25rem 1.13rem;
    margin-left: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 0.38rem;
    user-select: none;
}

.link-icons {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.link-icons:hover {
    transform: scale(1.2);
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    margin-top: 15px;
}

.developer {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.38rem;
}

.Github-Repo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.38rem;
    max-width: 200px;
    margin: 0 auto;
}
