
a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url('./assets/unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*{
    font-family: 'Kanit', sans-serif;
font-family: 'Ubuntu', sans-serif
}
