.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    height: 540px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-wrapper input {
    padding: 0.5rem;
}

.inputs {
    width: 15rem;
    border-radius: 0.38rem;
    border-color: lightgray;
}

.buttons {
    padding: .8rem;
    width: 16.4rem;
    background-color: #0065FF;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.38rem
}

.input-title {
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: gray
}

.demo-wrapper {
    padding-top: 1.5rem;
}


/* Input */
.form-wrapper .form-group input[type=email]{
    background-color:rgba(255,255,255,0.66);
   }

   /* Inputs */
   .form-wrapper .form-group input[type=email].inputs{
    border-style:none;
   }

   /* Input */
   .form-wrapper .form-group input[type=password]{
    background-color:rgba(255,255,255,0.66);
    border-style:none;
   }

   /* Input title */
   #root .input-title{
    color:#ffffff;
   }


   /* Logo container */

   #root .top .logo-container{
    transform: translatex(3px);
   }
   /* Buttons */
   #root .demo-wrapper .buttons{
    transform: translatex(-6px);
   }
