.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    height: 540px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.login-form-group label {
    margin-bottom: 0.5rem;
}

.form-wrapper input {
    padding: 0.5rem;
}

.inputs {
    width: 15rem;
    border-radius: 0.38rem;
    border-color: lightgray;
}

.login-signup-Title {
    margin-top: 50px;
    font-size: 3.5rem;
    color: #172b4d;
    font-weight: 1000;
    margin-bottom: 50px;
}
.login-signup-Title:hover {
    cursor: pointer;
}

.buttons {
    padding: .8rem;
    width: 16.4rem;
    background-color: #4c8ae7;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.38rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttons:hover {
    background-color: #6ba2f9;
    color: black;
}

.login-input-title {
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: gray
}

.demo-wrapper {
    padding-top: 1.5rem;
}

.buttons{
    cursor: pointer;
}

/* Input */
.form-wrapper .login-form-group input[type=email]{
    background-color:rgba(255,255,255,0.66);
   }

   /* Inputs */
   .form-wrapper .login-form-group input[type=email].inputs{
    border-style:none;
   }

   /* Input */
   .form-wrapper .login-form-group input[type=password]{
    background-color:rgba(255,255,255,0.66);
    border-style:none;
   }

   /* Input title */
  .input-title{
    color:#ffffff;
   }

   /* Buttons */
    .demo-wrapper .buttons{
    transform: translatex(-6px);
   }


   .error-message {
    color: #db3b3b;
}

.top{
    height: 3.75rem;
    top: 0;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 3rem;
    color: black;
    font-family: Roboto, Helvetica Neue, sans-serif;
}
