.board-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-list {
    display: flex;
    flex-wrap: wrap;
    


}

.board-tile {
    background-color: #ebecf0;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    padding: 12px;
    width: 240px;
    cursor: pointer;
}

.board-tile h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #172b4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list-placeholder {
    background-color: #ebecf0;
    border-radius: 4px;
    width: 240px;
    height: 32px;
}

.workspace-container {
    display: flex;
    flex-direction: column;


}

.workspace-info {
    position: fixed;
    align-items: center;
    text-align: center;
    width: 50%;

    background-color: aqua;
    border-bottom: .2rem solid grey;
    top: 5rem;
    left: 30rem;
    right: 10rem;
    bottom: 50rem;
}

.side-bar{
    position: fixed;
    top:10rem;
    left: 0;
    bottom: 0;
    background-color: aqua;
    width: 20rem;
}

.side-bar-container {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}
