.board-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    margin-left: 20rem;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.board-list {
    display: flex;
    flex-wrap: nowrap;
}

.board-tile {
    background-color: #ebecf0;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    margin-top: 1rem;
    padding: 12px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.board-tile h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #172b4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list-placeholder {
    background-color: #ebecf0;
    border-radius: 4px;
    width: 240px;
    height: 32px;
}

.workspace-container {
    display: flex;
    flex-direction: column;

}

.workspace-info {
    position: fixed;
    width: 90%;
    height: 10%;
    background-color: aqua;
    border-bottom: .2rem solid grey;
    top: 3.9rem;
    left: 20rem;
    right: 9rem;
    bottom: 50rem;
}

.main-workspace{
    border-bottom: .2rem gray solid;
}

.side-bar{
    position: fixed;
    top:3.9rem;
    left: 0;
    bottom: 0;
    background-color: aqua;
    width: 20rem;
    z-index: 1;
    border-right: .2rem gray solid;
}

.side-bar-container {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}
