.card-modal-container {
    display: flex;
}


#modal-content {
    width: 50%;
    height: 50%;
    border-radius: 200rem;
}

#modal-background {
    background-color: gray;
}

/* Card modal container */
.card-modal-container {
    background-color: rgba(255, 255, 255, 0.82);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translatex(0px) translatey(0px);
    height: 154px;
}

/* Card modal contents */
.card-modal .card-modal-contents {
    transform: translatex(200px);
}

/* Card modal edit */
.card-modal .card-modal-edit {
    transform: translatex(138px) translatey(44px);
}

/* Card modal edit input */
.card-modal-edit div input[type=text].card-modal-edit-input {
    transform: translatex(25px) translatey(-17px);
    background-color: rgba(255, 255, 255, 0.7);
    border-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 165px;
    height: 30px;
}

/* Card modal */
.card-modal {
    transform: translatex(0px) translatey(0px);
    width: 100%;
    background-color: white;
}

#card-textarea {
    border: 2px solid #3498db;
    overflow: hidden;
    max-width: 1250px;
    height: 350px;
}

/* Card modal edit textarea */
.card-modal-edit div textarea.card-modal-edit-textarea {
    background-color: rgba(255, 255, 255, 0.56);
    border-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 160px;
    transform: translatex(22px);
}

/* Button */
.card-modal .card-modal-edit button {
    color: #ffffff;
    background-color: #3498db;
    border-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 133px;
    height: 26px;
    transform: translatex(35px);
}

/* Division */
.card-modal .card-modal-edit div:nth-child(2) {
    transform: translatex(5px);
}


.icon {
    transition: color 0.2s;
}

.icon:hover {
    color: lightblue;
    cursor: pointer;
}

/* Card modal contents */
#root .card-modal .card-modal-contents {
    transform: translatex(3px) translatey(16px);
    overflow: auto;
    width: 100%;
}

/* Card text */
/* #card-text{
 overflow:hidden;
 max-width:1250px;
 height:155px;
} */

.card-modal-contents {
    margin-left: 2rem;
}

.modal-card-text{
    width: 450px;
}

#title-icon {
    margin-right: 1rem;
    margin-bottom: 2rem;
}

#description-icon {
    margin-right: 1rem;
}

/* Card modal */
.card-modal {
    transform: translatex(0px) translatey(0px);
    width: 100%;
}

/* Card modal container */
.card-modal-container {
    width: 100%;
    height: 500px;
    transform: translatex(3px) translatey(16px);
}

/* Modal background */
.modal-background {
    transform: translatex(3px) translatey(16px);
}


#error {
    color: red;
    font-size: 12px;
    position: relative;
    bottom: 20px;
}

#edit-icon {
    margin-left: 1rem;
}

#card-title{
    border-bottom: solid 1px black;
    width: 85%;
}
